<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>servlet.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBean</servlet-name>
        <servlet-class>servlet.CustomerBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDao</servlet-name>
        <servlet-class>servlet.CustomerDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerVar</servlet-name>
        <servlet-class>servlet.CustomerVar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget</servlet-name>
        <servlet-class>servlet.Forget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCustomer</servlet-name>
        <servlet-class>servlet.PaymentCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailApp</servlet-name>
        <servlet-class>mail.EmailApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>mail.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>servlet.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlet.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBean</servlet-name>
        <url-pattern>/customerBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDao</servlet-name>
        <url-pattern>/customerDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerVar</servlet-name>
        <url-pattern>/customerVar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCustomer</servlet-name>
        <url-pattern>/paymentCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailApp</servlet-name>
        <url-pattern>/emailApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
